@charset "UTF-8";
@font-face {
  font-family: "Meiryo";
  src: url("fonts/meiryo.ttc");
  src: url("fonts/meiryo.eot?#iefix") format("embedded-opentype"), url("fonts/meiryo.woff2") format("woff2"), url("fonts/meiryo.woff") format("woff"), url("fonts/meiryo.ttf") format("truetype"), url("fonts/meiryo.svg#meiryo") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Meiryo";
  src: url("fonts/meiryob.ttc");
  /* IE9 Compat Modes */
  src: url("fonts/meiryob.eot?#iefix") format("embedded-opentype"), url("fonts/meiryob.woff2") format("woff2"), url("fonts/meiryob.woff") format("woff"), url("fonts/meiryob.ttf") format("truetype"), url("fonts/meiryob.svg#fonts/meiryob") format("svg");
  /* Legacy iOS */
  font-weight: bold;
  font-style: normal;
  font-weight: bold; }
@font-face {
  font-family: "Hiragino Kaku Gothic Pro";
  src: url("fonts/HiraKakuProN-W6.otf");
  /* IE9 Compat Modes */
  src: url("fonts/HiraKakuProN-W6.eot?#iefix") format("embedded-opentype"), url("fonts/HiraKakuProN-W6.woff2") format("woff2"), url("fonts/HiraKakuProN-W6.woff") format("woff"), url("fonts/HiraKakuProN-W6.ttf") format("truetype"), url("fonts/HiraKakuProN-W6.svg#HiraKakuProN-W6") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "Hiragino Kaku Gothic Pro";
  src: url("fonts/HiraKakuProN-W3.otf");
  src: url("fonts/HiraKakuProN-W3.eot?#iefix") format("embedded-opentype"), url("fonts/HiraKakuProN-W3.woff2") format("woff2"), url("fonts/HiraKakuProN-W3.woff") format("woff"), url("fonts/HiraKakuProN-W3.ttf") format("truetype"), url("fonts/HiraKakuProN-W3.svg#HiraKakuProN-W3") format("svg");
  font-weight: 300;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  min-width: 950px;
  margin: auto;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  border-top: 4px solid #0f5c9b; }

.phone-contact {
  float: right;
  cursor: pointer; }
  .phone-contact .phone-icon {
    margin-right: 6px; }
  .phone-contact .date-time {
    font-family: Meiryo;
    font-size: 1rem;
    color: black;
    margin-left: 3px;
    margin-top: 6px;
    word-spacing: 5px; }

.mail-contact {
  float: right;
  cursor: pointer;
  padding: 14px 20px 15px 18px;
  background-color: #ffed4d;
  margin-left: 22px; }
  .mail-contact .mail {
    display: inline-block;
    font-family: Meiryo;
    color: #fd7e00;
    font-size: 1.4rem; }

.top-header {
  width: 950px;
  height: 160px;
  margin: auto;
  margin-top: 19px; }
  .top-header .header {
    height: 78px; }
    .top-header .header .left {
      float: left; }
      .top-header .header .left .logo-img {
        float: left; }
      .top-header .header .left .logo-text {
        float: left;
        margin-left: 26px; }
        .top-header .header .left .logo-text img.responsive {
          display: none; }
    .top-header .header .right {
      display: block;
      float: right !important;
      padding-top: 17px; }
      .top-header .header .right .phone-contact img {
        margin-top: 1px; }
      .top-header .header .right .phone-contact .date-time {
        font-size: 1rem; }
    .top-header .header .open-respon {
      display: none; }
  .top-header .menu#navbar-normal {
    height: 62px;
    margin-top: 10px;
    width: 954px;
    text-align: center;
    transition: .5s; }
    .top-header .menu#navbar-normal a {
      display: inline-block;
      margin-left: -2px; }
      .top-header .menu#navbar-normal a img {
        max-width: 100%;
        padding: 15px 0px 20px 0px;
        border-bottom: 4px solid #dddddd; }
        .top-header .menu#navbar-normal a img:hover {
          background-color: #ffcaca; }
      .top-header .menu#navbar-normal a::before {
        content: "";
        width: 1px;
        height: 40px;
        background: #dddddd;
        display: inline-block;
        position: relative;
        bottom: 22px;
        left: 0; }
      .top-header .menu#navbar-normal a:last-child::after {
        content: "";
        width: 1px;
        height: 40px;
        background: #dddddd;
        display: inline-block;
        position: relative;
        bottom: 22px;
        left: 0; }
  .top-header .menu#navbar-respon {
    display: none; }

.bottom-header {
  position: relative;
  width: 100%;
  height: 420px;
  background: url("images/img-bottom-header.png") no-repeat center center;
  background-size: cover; }
  .bottom-header img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3; }
  .bottom-header #img-for-text-bt, .bottom-header #img-for-text-res {
    border: 1px solid #fff;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%); }
  .bottom-header #img-for-text-res {
    display: none; }

#news {
  width: 100%;
  padding: 80px 0px; }
  #news .nd-news {
    width: 948px;
    height: 158px;
    border: 1px solid #dddddd;
    margin: auto; }
    #news .nd-news .left {
      width: 177px;
      margin: 41px 0px  0px 62px;
      float: left; }
      #news .nd-news .left #title-news-res {
        display: none; }
      #news .nd-news .left .btn-news {
        background-color: #578db9;
        display: inline-block;
        padding: 7px 23px 7px 9px;
        margin-top: 4px;
        text-align: center; }
        #news .nd-news .left .btn-news .icon {
          margin-right: 10px;
          margin-top: -1px;
          transform: translateY(-3px); }
        #news .nd-news .left .btn-news #text-btn-news-res {
          display: none; }
      #news .nd-news .left::after {
        content: "";
        width: 1px;
        height: 100px;
        background-color: #dddddd;
        display: inline-block;
        position: relative;
        left: 100%;
        top: -100px; }
    #news .nd-news .right {
      font-family: Meiryo;
      font-size: 1.6rem;
      display: inline-block;
      margin: 38px 0 0 39px; }
      #news .nd-news .right .one-news {
        margin-bottom: 4px; }
        #news .nd-news .right .one-news .date {
          color: #0e5b9a;
          float: left;
          font-size: 1.6rem;
          margin-right: 6px;
          line-height: 24px; }
        #news .nd-news .right .one-news .td-news {
          border-bottom: 1px solid #676767;
          display: inline-block;
          font-size: 1.6rem; }
          #news .nd-news .right .one-news .td-news a {
            text-decoration: none;
            color: #000; }

#construction {
  height: 570px;
  background-color: #eeeeee;
  padding-top: 59px; }
  #construction .title {
    text-align: center;
    margin-bottom: 65px; }
    #construction .title .text-jp {
      display: inline-block; }
    #construction .title #text-jp-res {
      display: none; }
    #construction .title #text-en-res {
      display: none; }
    #construction .title .text-en {
      display: inline-block;
      margin-bottom: 40px; }
    #construction .title p {
      width: 432px;
      font-size: 1.6rem;
      line-height: 22.4px;
      color: #555555;
      margin: auto; }
  #construction .product {
    width: 878px;
    height: 226px;
    margin: auto; }
    #construction .product .one-product {
      width: 220px;
      height: 226px;
      margin-right: 109px;
      float: left;
      background-image: url("images/bg-product-construction.png"); }
      #construction .product .one-product .content {
        width: 208px;
        height: 214px;
        background-color: #0f5c9b;
        margin: auto;
        transform: translateY(6px);
        position: relative; }
        #construction .product .one-product .content .pro-img, #construction .product .one-product .content .pro-name, #construction .product .one-product .content .more-btn {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 118px; }
        #construction .product .one-product .content .pro-name {
          bottom: 82px; }
        #construction .product .one-product .content .more-btn {
          display: inline-block;
          bottom: 34px; }
      #construction .product .one-product:last-child {
        margin-right: 0px; }
  #construction #product-responsive {
    display: none; }

#overview {
  width: 950px;
  height: 404px;
  margin: auto; }
  #overview .left {
    margin: 48px 64px 0 -29px;
    float: left;
    width: 448px;
    height: 404px;
    position: relative; }
    #overview .left .view-people {
      position: absolute;
      top: 0;
      left: -30px;
      z-index: 100; }
    #overview .left .view-logo {
      position: absolute;
      bottom: 122px;
      right: 0;
      z-index: 101; }
  #overview .right {
    width: 940px;
    font-size: 1.6rem;
    color: #545454; }
    #overview .right .img-title {
      margin-top: 81px;
      margin-bottom: 32px; }
    #overview .right .description {
      line-height: 21px;
      margin-bottom: 32px;
      width: 910px; }
    #overview .right #text-title-vision-res {
      display: none; }
    #overview .right #btn-text {
      display: none; }

#contact {
  height: 358px;
  background-image: url("images/bg-contact.png");
  background-size: cover;
  background-position: center center;
  padding-top: 60px; }
  #contact .title-contact {
    border: 1px solid #b5c8dd;
    width: 478px;
    height: 58px;
    margin: auto;
    padding: 17px 60px 17px 54px;
    margin-bottom: 27px; }
    #contact .title-contact img {
      width: 364px; }
  #contact .description {
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
    margin-bottom: 34px; }
    #contact .description .text-yellow {
      color: #ffff4c; }
  #contact .detail-contact {
    width: 680px;
    margin: auto; }
    #contact .detail-contact .phone-contact .phone-icon {
      margin-right: 8px; }
    #contact .detail-contact .phone-contact .date-time {
      font-size: 1.2rem;
      color: #fff;
      word-spacing: 2px; }
    #contact .detail-contact .mail-contact {
      padding: 17px 21px 17px 20px;
      margin-left: 62px; }
      #contact .detail-contact .mail-contact .mail-icon {
        margin-right: 13px; }
      #contact .detail-contact .mail-contact .mail {
        font-size: 1.2rem; }
  #contact #page-top {
    width: 80px;
    height: 80px;
    background-color: transparent;
    position: relative;
    left: 90%;
    bottom: 0;
    cursor: pointer;
    border-top: 1px solid #f5deb36b; }
    #contact #page-top .icon-up, #contact #page-top .text-page-top {
      position: absolute;
      top: 23px;
      left: 50%;
      transform: translateX(-50%); }
    #contact #page-top .text-page-top {
      top: 42px; }

#sub-menu {
  background-color: #cccccc;
  height: 120px; }
  #sub-menu .wid {
    font-family: Meiryo;
    width: 647px;
    text-align: center;
    margin: auto; }
    #sub-menu .wid a {
      font-size: 1.4rem;
      text-transform: uppercase;
      color: #222222;
      text-decoration: none;
      padding: 0px 21px;
      border-right: 1px solid #5e5e5e;
      display: inline-block;
      margin-top: 4px; }
      #sub-menu .wid a:nth-child(1) {
        border-left: 1px solid #5e5e5e; }
      #sub-menu .wid a:nth-child(6) {
        border-left: 1px solid #5e5e5e; }
  #sub-menu .wid1 {
    padding-top: 41px; }

.bottom-footer {
  height: 51px;
  font-family: Meiryo;
  font-size: 1.4rem;
  color: #212121;
  text-align: center;
  padding-top: 20px; }

@media only screen and (max-width: 768px) {
  * {
    margin: 0; }

  body {
    min-width: 100%;
    width: 100%;
    min-width: auto;
    border-top: 5px solid #0f5c9b; }

  .top-header {
    height: 60px;
    width: 100%;
    margin-top: 9px; }
    .top-header .header .left {
      margin-left: 18px; }
      .top-header .header .left .logo-img img {
        width: 21px; }
      .top-header .header .left .logo-text {
        margin-left: 15px; }
        .top-header .header .left .logo-text img.responsive {
          display: block;
          width: 121px;
          margin-top: 7px; }
        .top-header .header .left .logo-text img.normal {
          display: none; }
    .top-header .header .right {
      display: none; }
    .top-header .header .open-respon {
      display: block;
      text-align: right; }
      .top-header .header .open-respon img {
        width: 40px;
        height: 40px;
        margin-right: 10px; }
      .top-header .header .open-respon #close-button {
        display: none; }
    .top-header .menu#navbar-normal {
      display: none !important; }
    .top-header .menu#navbar-respon {
      height: 524px;
      display: block;
      margin-top: 10px;
      width: 0%;
      position: relative;
      z-index: 100;
      transition: 0.5s;
      margin-top: -18px;
      overflow: hidden; }
      .top-header .menu#navbar-respon .over {
        width: 100%;
        height: 524px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        background: #0f5c9b;
        padding-top: 30px;
        padding-left: 25px; }
      .top-header .menu#navbar-respon .navbar-item {
        display: block;
        padding: 15px 0;
        border-top: 1px dashed white;
        border-bottom: 1px dashed white;
        text-decoration: none;
        font-size: 1.5rem;
        color: #fff;
        position: relative;
        margin-right: 25px; }
        .top-header .menu#navbar-respon .navbar-item .icon {
          height: 7px;
          width: auto;
          margin-right: 10px;
          position: absolute;
          left: 1px;
          top: 50%;
          transform: translateY(-50%); }
        .top-header .menu#navbar-respon .navbar-item p {
          font-family: "Hiragino Kaku Gothic Pro", sans-serif;
          font-weight: 600;
          display: inline-block;
          margin-left: 15px; }

  .bottom-header {
    height: 210px; }
    .bottom-header #img-for-text-bt {
      display: none; }
    .bottom-header #img-for-text-res {
      display: block;
      width: 268px; }

  #news {
    padding-top: 25px;
    padding-bottom: 30px; }
    #news .nd-news {
      width: 284px;
      height: 321px; }
      #news .nd-news .left {
        margin: auto;
        margin-top: 20px;
        float: none;
        text-align: center;
        height: 34px; }
        #news .nd-news .left .title #title-news {
          display: none; }
        #news .nd-news .left .title #title-news-res {
          display: block;
          width: 76px;
          margin: auto; }
        #news .nd-news .left .title .btn-news {
          padding: 8px 28px 9px 9px;
          transform: translateY(203px); }
          #news .nd-news .left .title .btn-news #text-btn-news {
            display: none; }
          #news .nd-news .left .title .btn-news #text-btn-news-res {
            display: inline-block;
            width: 72.5px; }
        #news .nd-news .left::after {
          width: 0px; }
      #news .nd-news .right {
        margin: 0px;
        margin-top: 17px;
        font-family: "Hiragino Kaku Gothic Pro", sans-serif;
        font-weight: 300; }
        #news .nd-news .right .one-news {
          padding: 7px 0 10px 4px;
          margin: 0px 0 0 13px;
          width: 255px;
          border-top: 1px dashed #cccccc;
          line-height: 13px; }
          #news .nd-news .right .one-news .date {
            display: block;
            float: none;
            font-size: 1.4rem; }
          #news .nd-news .right .one-news .td-news {
            display: inline-block;
            font-size: 1.4rem; }
          #news .nd-news .right .one-news:last-child {
            border-bottom: 1px dashed #cccccc; }

  #construction {
    height: 333px;
    padding-top: 14.5px; }
    #construction .title {
      margin-bottom: 22.5px; }
      #construction .title #text-jp {
        display: none; }
      #construction .title #text-en {
        display: none; }
      #construction .title #text-jp-res {
        display: inline-block;
        width: 185px;
        margin-bottom: 7px; }
      #construction .title #text-en-res {
        display: inline-block;
        width: 85.5px;
        margin-bottom: 20px; }
      #construction .title p {
        font-family: "Hiragino Kaku Gothic Pro", sans-serif;
        font-weight: 300;
        font-size: 1.4rem;
        width: 335px; }
    #construction #product {
      display: none; }
    #construction .product#product-responsive {
      display: block;
      width: 290px;
      height: 92.5px; }
      #construction .product#product-responsive .one-product {
        margin-right: 10px;
        width: 90px;
        height: 92.5px;
        background-size: cover; }
        #construction .product#product-responsive .one-product .content {
          width: 100%;
          height: 100%;
          background: transparent;
          transform: translateY(0); }
          #construction .product#product-responsive .one-product .content .pro-img {
            bottom: 52.5px; }
          #construction .product#product-responsive .one-product .content .pro-name {
            bottom: 34.5px; }
          #construction .product#product-responsive .one-product .content .more-btn {
            bottom: 11.5px; }
            #construction .product#product-responsive .one-product .content .more-btn img {
              width: 42.5px; }
        #construction .product#product-responsive .one-product:last-child {
          margin-right: 0; }
      #construction .product#product-responsive #home .content .pro-img {
        width: 33px; }
      #construction .product#product-responsive #home .content .pro-name {
        width: 30px; }
      #construction .product#product-responsive #small-company .content .pro-img {
        width: 33px; }
      #construction .product#product-responsive #small-company .content .pro-name {
        width: 37.5px; }
      #construction .product#product-responsive #big-company .content .pro-img {
        width: 30px; }
      #construction .product#product-responsive #big-company .content .pro-name {
        width: 45px; }

  #overview {
    width: 320px;
    height: 443px; }
    #overview .left {
      transform: translate(2px, 265px);
      width: 278px;
      height: 178px;
      margin: 0 0 0 3px;
      float: none; }
      #overview .left .view-people {
        width: 224.5px;
        height: 178px;
        left: 0; }
      #overview .left .view-logo {
        width: 68.5px;
        height: 80px;
        bottom: 30px; }
    #overview .right {
      transform: translateY(-179px); }
      #overview .right #text-title-vision-res {
        display: block;
        width: 290px;
        margin: 30px 0 21px 15px; }
      #overview .right #text-title-vision {
        display: none; }
      #overview .right .description {
        width: 258px;
        text-align: center;
        margin: 0 0 21px 30px;
        line-height: 20px; }
        #overview .right .description p {
          font-family: "Hiragino Kaku Gothic Pro", sans-serif;
          font-weight: 300;
          font-size: 1.4rem;
          color: 535353; }
      #overview .right .btn {
        margin-left: 21px; }
        #overview .right .btn #btn-text {
          display: inline-block;
          padding: 13.5px 16.5px 14.5px 16px;
          background: #0f5c9b;
          color: white;
          font-family: "Meiryo";
          font-weight: bold;
          font-size: 1.3rem; }
          #overview .right .btn #btn-text .icon-left {
            height: 7px;
            margin: 0 6px 1px 0; }
        #overview .right .btn #btn-img {
          display: none; }

  #contact {
    height: 348px;
    padding-top: 35.1px; }
    #contact .title-contact {
      width: 288px;
      height: 33px;
      padding: 9px 23px;
      margin-bottom: 19px; }
      #contact .title-contact img {
        width: 242px; }
    #contact .description {
      font-family: "Hiragino Kaku Gothic Pro", sans-serif;
      font-weight: 300;
      font-size: 1.4rem;
      margin-bottom: 29px; }
    #contact .detail-contact {
      width: 250px;
      height: 99px; }
      #contact .detail-contact .phone-contact {
        margin: auto;
        transform: translate(-22px, -40px); }
        #contact .detail-contact .phone-contact .phone-icon {
          width: 25px;
          margin-right: 5px; }
        #contact .detail-contact .phone-contact .phone-number {
          width: 164px; }
        #contact .detail-contact .phone-contact .date-time {
          font-family: "Hiragino Kaku Gothic Pro", sans-serif;
          font-weight: 300;
          font-size: 1rem;
          word-spacing: -4px;
          margin-top: 5px;
          margin-left: -2px; }
      #contact .detail-contact .mail-contact {
        width: 250px;
        height: 40px;
        padding: 14px 23px;
        margin: 0;
        transform: translateY(59px); }
        #contact .detail-contact .mail-contact .mail-icon {
          width: 14.5px;
          margin-right: 5px; }
        #contact .detail-contact .mail-contact .mail {
          font-size: 1.3rem; }
    #contact #page-top {
      display: none; }

  #sub-menu {
    height: 100px;
    width: 100%;
    line-height: 12px; }
    #sub-menu .wid {
      width: 350px; }
      #sub-menu .wid a {
        font-family: "Hiragino Kaku Gothic Pro", sans-serif;
        font-weight: 300;
        font-size: 1rem;
        color: #212121;
        padding: 0 12px; }
    #sub-menu .wid1 {
      padding-top: 20px; }
    #sub-menu .wid2 {
      padding-bottom: 17px; }

  .bottom-footer {
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
    font-weight: 300;
    height: 44px;
    padding-top: 15.5px;
    font-size: 1rem; } }
@-webkit-keyframes hienra {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@-webkit-keyframes divao {
  0% {
    width: 64%; }
  99% {
    width: 0%; }
  100% {
    display: none; } }

/*# sourceMappingURL=style.css.map */
