@font-face {
  font-family: "Meiryo-r";
  src: url("fonts/meiryo.ttc"); }
@font-face {
  font-family: "Meiryo-b";
  src: url("fonts/meiryob.ttc"); }
  @font-face {
  font-family: "HiraKakuProN-W6";
  src: url("fonts/HiraKakuProN-W6.otf");
  font-weight: W6; }
 
*{margin: 0;padding: 0;box-sizing: border-box;  }
html{
	font-size: 10px;
}
body{
	min-width: 950px;
	margin: auto;
	font-family: "Meiryo-b";
	border-top: 4px solid #0f5c9b;
}
.phone-contact{
	float:right;
	cursor: pointer;
	.phone-icon{
		margin-right:6px;
	}
	.date-time{
		font-family: "Meiryo-r";
		font-size:1rem;
		color:black;
		margin-left:3px;
		margin-top:6px;
		word-spacing:5px;
	}
}
.mail-contact{
	float:right;
	cursor: pointer;
	padding:14px 20px 15px 18px;
	background-color:#ffed4d;
	margin-left:22px;
	.mail{
		display:inline-block;
		font-family: Meiryo-b ;
		color:#fd7e00;
		font-size:14px;

	}
}
.top-header{
	width: 950px;
	height: 160px;
	margin: auto;
	  // overflow:hidden;
	margin-top: 19px;

	.header{
		height: 78px;
		.left{
			float: left;
			.logo-img{
				float: left;
			}
			.logo-text{
				float: left;
				margin-left: 26px;
				img.responsive{
					display: none;
				}
			}
		}
		.right{
			display: block;
			float: right!important;
			padding-top: 17px;
			.phone-contact{
				img{
					margin-top: 1px;
				}
				.date-time{
					font-size:1rem;
				}
			}
		}
		.open-respon{
			display: none;
		}
	} //end css header
	.menu#navbar-normal{
		height: 62px;
		margin-top: 10px;
		width: 954px;
		text-align: center;
		transition:.5s;
		a{
			display: inline-block;
			margin-left:-3px;
			img{
				max-width:100%;
				padding:15px 0px 20px 0px;
				// background-color: #ffcaca;
				border-bottom: 4px solid #dddddd;
				&:hover{
					background-color: #ffcaca;
				}
			}
			&::before{
				content: "";
			    width: 1px;
			    height: 40px;
			    background: #dddddd;
			    display: inline-block;
			    position: relative;
			    bottom: 22px;
			    left: 0;
			}
			&:last-child::after{

				content: "";
			    width: 1px;
			    height: 40px;
			    background: #dddddd;
			    display: inline-block;
			    position: relative;
			    bottom: 22px;
			    left: 0;
			}
		}
		
	}
	.menu#navbar-respon{
		display: none;
	}

} //end top-header

// css cho bottom header
.bottom-header{
	position: relative;
	width:100%;
	height:420px;
	background: url("images/img-bottom-header.png") no-repeat center center;
	background-size: cover;
	img{
		max-width: 100%;
		height:auto;
		position: absolute;
		top:0;
		left:0;
		z-index: 3;
	}
	#img-for-text-bt,#img-for-text-res{
		border:1px solid #fff;
		z-index: 10;
		top:50%;
		left:50%;
		transform:translate(-50%,-70%);
	}
	#img-for-text-res{
		display: none;
	}
}
//css for news block
#news{
	width:100%;
	padding:80px 0px;
	.nd-news{
		width:948px;
		height:158px;
		border: 1px solid #dddddd;
		margin:auto;
		.left{
			width:177px;
			margin:41px 0px  0px 62px;
			float:left;
			#title-news-res{
				display: none;
			}
			.btn-news{
				background-color: #578db9;
				display: inline-block;
				padding:7px 23px 7px 9px;
				margin-top:4px;
				text-align: center;
				.icon{
					margin-right:10px;
					margin-top:-1px;
					transform:translateY(-3px);
				}
				#text-btn-news-res{
					display: none;
				}
			}
			&::after{
				content:"";
				width:1px;
				height:100px;
				background-color:#dddddd;
				display:inline-block;
			    position: relative;
			    left: 100%;
			    top: -100px;
			}
		}
		.right{
			font-family: "Meiryo-r";
			font-size:1.6rem;
			display: inline-block;
			margin:38px 0 0 39px;
			.one-news{
				margin-bottom:4px;
				.date{
					color:#0e5b9a;
					float:left;
					font-size:1.6rem;
					margin-right: 6px;
					line-height: 24px;
				}
				.td-news{
					border-bottom: 1px solid #676767 ;
					display: inline-block;
					font-size:1.6rem;
					a{
						text-decoration:none;
						color:#000;
					}
				}
			}
		}

	}
}
// css for construction block
#construction{
	height: 570px;
	background-color: #eeeeee;
	padding-top: 59px;
	.title{
		text-align:center;
		margin-bottom: 65px;;
		.text-jp{
			display: inline-block;
			// margin-bottom: 15px;
		}
		#text-jp-res{
			display: none;
		}
		#text-en-res{
			display: none;
		}
		.text-en{
			display: inline-block;
			margin-bottom: 40px;;
		}
		p{
			width: 432px;
			font-size:1.6rem;
			line-height: 22.4px;
			color:#555555;
			margin:auto;
		}
	}
	.product{
		width: 878px;
		height: 226px;
		margin:auto;
		.one-product{
			width: 220px;
			height: 226px;
			margin-right:109px;
			float:left;
			background-image: url("images/bg-product-construction.png");
			.content{
				width: 208px;
				height: 214px;
				background-color: #0f5c9b;
			    margin: auto;
			    transform: translateY(6px);
			    position: relative;
			    .pro-img,.pro-name,.more-btn{
			    	position: absolute;
			    	left:50%;
			    	transform: translateX(-50%);
			    	bottom:118px;
			    }
			    .pro-name{
			    	bottom: 82px;
			    }
			    .more-btn{
			    	display: inline-block;
			    	bottom:34px;
			    }
			}
			&:last-child{
				margin-right:0px;
			}
		}
	} //end css product
	#product-responsive{
		display: none;
	}
} //end construction

#overview{
	width: 950px;
	height: 404px;
	margin:auto;
	.left{
		margin-left: -29px;
		float: left;
		margin-right: 64px;
	}
	.right{
		width: 940px;;
		font-size:1.6rem;
		color:#545454;
		.img-title{
			margin-top:81px;
			margin-bottom: 32px;
		}
		.description{
			line-height:21px;
			margin-bottom: 34px;
		}
	}
} //overview
#contact{
	height: 358px;
	background-image: url("images/bg-contact.png");
	background-size: cover;
	background-position: center center;
	padding-top: 60px;
	.title-contact{
		border: 1px solid #b5c8dd;
		width: 478px;
		height: 58px;
		margin: auto;
		padding: 17px 60px 17px 54px;
		margin-bottom:27px;
	}
	.description{
		font-size:1.6rem;
		text-align:center;
		color:#fff;
		margin-bottom: 34px;
		.text-yellow{
			color:#ffff4c;
		}
	}
	.detail-contact{
		width: 680px;
		margin:auto;
		.phone-contact{
			img{
				height:27px;
			}
			.phone-icon{
				margin-right:8px;
			}
			.date-time{
				font-size:1.2rem;
				color:#fff;
				word-spacing:2px;
			}
		}
		.mail-contact{
			padding:17px 21px 17px 20px;
			margin-left: 62px;
			img{
				margin-right:13px;
			}
			.mail{
				font-size:1.2rem;
			}
		}
	}
	#page-top{
		width: 80px;
		height: 80px;
		background-color: transparent;//#0f5c9b;
		position: relative;
		left:90%;
		bottom: 0;
		cursor: pointer;
		border-top:1px solid #f5deb36b;
		.icon-up,.text-page-top{
			position: absolute;
			top:23px;
			left:50%;
			transform: translateX(-50%);
		}
		.text-page-top{
			top: 42px;
		}
	}
} // end contact 
#sub-menu{
	background-color: #cccccc;
	.wid{
		font-family: "Meiryo-r";
		width: 647px;
		height:120px;
		text-align:center;
		margin:auto;
		padding-top:36px;
		// line-height:23.8px;
		a{
			font-size: 1.4rem;
			text-transform:uppercase;
			color:#222222;
			text-decoration: none;
			padding:0px 21px;
			border-right: 1px solid #5e5e5e;
			display: inline-block;
			margin-top: 4px;
			&:nth-child(1){
				border-left: 1px solid #5e5e5e;
			}
			&:nth-child(6){
				border-left: 1px solid #5e5e5e;
			}
		}
	}
}
.bottom-footer{
	height: 51px;
	font-family: "Meiryo-r";
	font-size:1.4rem;
	color:#212121;
	text-align:center;
	padding-top:20px;
}
@media screen and (max-width:   768px){
	*{margin:0;}
	body{
		min-width:768px;
		width: 100%;
		min-width:auto;
		border-top:5px solid #0f5c9b;
	}
	.top-header{
		height: 60px;
		width: 100%;;
		margin-top:9px;
		.header{
			.left{
				.logo-img{
					img{
						width: 21px;
					}
				}
				.logo-text{
					margin-left: 15px;
					img.responsive{
						display: block;
						width: 121px;
						margin-top:7px;
					}
					img.normal{
						display: none;
					}
				}
				margin-left:18px;
			}
			.right{
				display: none;
			}
			.open-respon{
				display: block;
				text-align:right;
				img{
					width: 40px;
					height: 40px;
					margin-right:10px;
				}
				#close-button{
					display: none;
				}
			}
		}
		.menu#navbar-normal{
			display: none!important;
		}
		.menu#navbar-respon{
		    height: 524px;
		    display: block;
		    margin-top: 10px;
		    width: 0%;
		    position: relative;
		    z-index: 100;
		    transition:0.5s;
		    margin-top: -18px;;
		    overflow: hidden;
		    // animation: hienra .5s forwards;
		.over{
			    width: 100%;
			    height: 524px;
			    position: absolute;
			    left: 0;
			    top: 0;
			    z-index: 10;
			    background: #0f5c9b;
			    padding-top: 30px;
			    padding-left:25px;
		}
		.navbar-item{
			display: block;
			padding:15px 0;
			border-top:1px dashed white;
			border-bottom:1px dashed white;
			text-decoration: none;
			font-size:1.5rem;
			color: #fff;
			position: relative;
			margin-right:25px;
			.icon{
				height: 7px;
				width: auto;
				margin-right:10px;
				position: absolute;
			    left: 1px;
			    top: 50%;
			    transform: translateY(-50%);

			}
			p{

				// font-family: Hiragino Kaku Gothic Pro;
				display: inline-block;
				margin-left: 15px
			}
		}
	}

	} //end top-header
	.bottom-header{
		height: 210px;;
		#img-for-text-bt{
			display: none;
		}
		#img-for-text-res{
			display:block;
			width: 268px;
		}
	} //end bottom header

	#news{
		padding-top: 25px ;
		padding-bottom: 30px;
		.nd-news{
			width: 284px;
			height: 321px;
			.left{
				    margin: auto;
				    margin-top: 20px;
					float: none;
					text-align: center;
					height: 34px;
				.title{
					#title-news{
						display: none;
					}
					#title-news-res{
						display: block;
						width: 76px;;
						margin: auto;
					}
					.btn-news{
						padding: 8px 28px 9px 9px;
						transform: translateY(203px);
						#text-btn-news{
							display: none;
						}
						#text-btn-news-res{
							display: inline-block;
							width: 72.5px;

						}
					}
				}
				&::after{
					width: 0px;
				}
			} //end left
			.right{
				margin:0px;
				margin-top: 17px;
				// font-family:Hiragino Kaku Gothic Pro;
				.one-news{
					padding: 7px 0 10px 4px;
					margin:0px 0 0 13px;
					width: 255px;
					border-top:1px dashed #cccccc;
					line-height: 13px;;
					.date{
						display: block;
						float:none;
						font-size:1.4rem;
					}
					.td-news{
						display: inline-block;
						font-size:1.4rem;
					}
					&:last-child{
						border-bottom:1px dashed #cccccc;
					}

				}
			}
		}
	} //end css news
	#construction{
		height: 333px;
		padding-top: 14.5px;
		.title{
			margin-bottom: 22.5px;;
			#text-jp{
				display: none;
			}
			#text-en{
				display: none;
			}
			#text-jp-res{
				display: inline-block;
				width: 185px;
				margin-bottom: 7px;
			}
			#text-en-res{
				display: inline-block;
				width: 85.5px;
				margin-bottom: 20px;;
			}
			p{
				// font-family: Hiragino Kaku Gothic Pro;
				font-size: 1.4rem;
				width: 335px;
			}

		} //end title
		#product{
			display: none;
		}
		.product#product-responsive{
			display: block;
			width: 290px;
			height: 92.5px;
			.one-product{
				margin-right: 10px;
				width: 90px;
				height: 92.5px;
				background-size: cover;
				.content{
					width: 100%;
					height: 100%;
					background:transparent;
					transform: translateY(0);
					.pro-img{
						bottom: 52.5px;
					}
					.pro-name{
						bottom: 34.5px;
					}
					.more-btn{
						bottom: 11.5px;
						img{
							width: 42.5px;
						}
					}
				}
				&:last-child{
					margin-right: 0;
				}
			}
			#home{
				.content{
					.pro-img{
						width: 33px;
					}
					.pro-name{
						width: 30px;
					}
				}
			}
			#small-company{
				.content{
					.pro-img{
						width: 33px;
					}
					.pro-name{
						width: 37.5px;
					}
				}
			}
			#big-company{
				.content{
					.pro-img{
						width: 30px;
					}
					.pro-name{
						width: 45px;
					}
				}
			}
		}
	}

}

//animation
@-webkit-keyframes hienra{
	0%{width: 0%;}
	100%{width: 100%;}
}
@-webkit-keyframes divao{
	0%{width: 64%;}
	99%{width: 0%;}
	100%{
		display: none;
	}
}
